.git
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

DATA/
WindDataNE-US/
triton_model_repository/
ModelOutputs/
tmp/

*.nc
*.npz
*.npy
*.pkl
*.gif
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.csv
*.parquet

.ipynb_checkpoints/